%Walsheim{
  font-family: 'GT Walsheim Pro';
}

.primary-text{
  font-size:clamp(rem(14), 0.83vw ,rem(16));
  line-height:1.4em;
}
.large-text{
  line-height:1.4em;
  font-size:clamp(rem(16), 0.9vw ,rem(18));
}
.big-text{
  font-size:rem(75);
  line-height:1.4em;
  @include down(xxl){
    font-size:rem(70);
  }
  @include down(md){
    font-size:rem(65);
  }
}
.light{
  font-weight:300;
}
.small-text{
  font-size:clamp(rem(12), 0.83vw ,rem(14));
  line-height:1.4em;
}
.title-1{
  line-height:1.4em;
  font-size:clamp(rem(27), 2.5vw ,rem(48));
}
.title-2{
  font-size:clamp(rem(27), 2.5vw ,rem(39));
  line-height:1.4em;
}
.title-3{
  font-size:clamp(rem(27), 1.6vw ,rem(31));
  line-height:1.2em;
}
.title-4{
  font-size:clamp(rem(21), 1.3vw ,rem(25));
  line-height:1.2em;
}
.title-5{
  font-size:clamp(rem(18), 1vw ,rem(20));
  line-height:1.2em;
}
.title-6{
  @extend .large-text;
}

.text-tag{
  @extend .small-text;
  color:var(--color-secondary);
}


@for $i from 1 through 5 {
  h#{$i} {
    @extend .title-#{$i};
  }
} 