html{
  box-sizing: border-box;
  font-size: rem($browser-context);
}
:root {
  scroll-behavior: unset;
}

body{
  @include antialiased;
  position: relative;
  color:var(--c-black);
  @extend .primary-text;
  background-color: var(--c-white);
}

//Templates & Misc
.container{
  width:77.8125vw;
  max-width:1494px;
  margin:0 auto;
  @include down(xl){
    width:83.3vw;
  }
  &.container-smaller{
    width:67vw;
    max-width:1280px
  }
}

button{
  cursor: pointer;
}

h1,h2,h3,h4,h5,h6{
  margin:0;
}
