.spring{
  .logo{
    .top-left{
      fill:#77B83E;
    }
    .bottom-left{
      fill:#12544E;
    }
    .top-right{
      fill:#CCDA63;
    }
    .bottom-right{
      fill:#96AC8D;
    }
  }
}
.summer{
  .logo{
    .top-left{
      fill:#F18764;
    }
    .bottom-left{
      fill:#CA4745;
    }
    .top-right{
      fill:#FAB728;
    }
    .bottom-right{
      fill:#F8D979;
    }
  }
}
.autumn{
  .logo{
    .top-left{
      fill:#D73189;
    }
    .bottom-left{
      fill:#8E175E;
    }
    .top-right{
      fill:#7670A1;
    }
    .bottom-right{
      fill:#EA97C0;
    }
  }
}