{% extends "base.twig" %}

{% block content %}
    <div class="wrapper-message-page">
        <div class="container">
            <div class="wrapper-message-page__content">
                <h1 class="title-1 text-center">404</h1>
                <h2 class="title-2">Page non trouvée</h2>
            </div>
        </div>
    </div>
{% endblock %}