{% extends "base.twig" %}

{% block content %}
{#    {% include 'blocks/banner.twig' with {'block':post.meta('banner'), 'image':post.thumbnail} %}#}
{#    <div class="flexible-wrap">#}
{#        <div class="container">#}
{#            <div class="row">#}
{#                <div class="col-xl-8 offset-xl-2">#}
{#                    {% for flexible in post.meta('flexibles') %}#}
{#                        {% include "flexibles/flexible-#{flexible.acf_fc_layout}.twig" %}#}
{#                    {% endfor %}#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{% endblock %}